/**

  All animations must live in their own file
  in the animations directory and be included
  here.

*/
/**
 * Dots
 */
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1; }

  25% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
    opacity: 0.7; }

  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1; }

  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1); } }
@keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1; }

  25% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
    opacity: 0.7; }

  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1; }

  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1); } }

.ball-pulse > span:nth-child(0) {
  border-radius: 30px;
  -webkit-animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08); }
.ball-pulse > span:nth-child(1) {
  border-radius: 30px;
  -webkit-animation: scale 0.75s 0.1s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: scale 0.75s 0.1s infinite cubic-bezier(.2, .68, .18, 1.08); }
.ball-pulse > span:nth-child(2) {
  border-radius: 30px;
  -webkit-animation: scale 0.75s 0.2s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: scale 0.75s 0.2s infinite cubic-bezier(.2, .68, .18, 1.08); }
.ball-pulse > span:nth-child(3) {
  border-radius: 30px;
  -webkit-animation: scale 0.75s 0.3s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: scale 0.75s 0.3s infinite cubic-bezier(.2, .68, .18, 1.08); }
.ball-pulse > span {
  background-color: #2a5d84;
  height: 17px;
  width: 17px;
  display: inline-block;
  margin: 20px 5px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes ball-pulse-sync {
  33% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }

  66% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes ball-pulse-sync {
  33% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }

  66% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.ball-pulse-sync > span:nth-child(0) {
  -webkit-animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
          animation: ball-pulse-sync 0.6s 0s infinite ease-in-out; }
.ball-pulse-sync > span:nth-child(1) {
  -webkit-animation: ball-pulse-sync 0.6s 0.07s infinite ease-in-out;
          animation: ball-pulse-sync 0.6s 0.07s infinite ease-in-out; }
.ball-pulse-sync > span:nth-child(2) {
  -webkit-animation: ball-pulse-sync 0.6s 0.14s infinite ease-in-out;
          animation: ball-pulse-sync 0.6s 0.14s infinite ease-in-out; }
.ball-pulse-sync > span:nth-child(3) {
  -webkit-animation: ball-pulse-sync 0.6s 0.21s infinite ease-in-out;
          animation: ball-pulse-sync 0.6s 0.21s infinite ease-in-out; }
.ball-pulse-sync > span {
  background-color: #2a5d84;
  height: 17px;
  width: 17px;
  border-radius: 100%;
  display: inline-block;
  margin: 20px 5px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

.ball-scale span {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: blue;
  -webkit-animation: ball-scale 1s 0 ease-in-out infinite;
          animation: ball-scale 1s 0 ease-in-out infinite; }

@-webkit-keyframes ball-spin {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 44px 0; } }

@keyframes ball-spin {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 44px 0; } }

.ball-spin span {
  display: inline-block;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 -1px 2px rgba(0, 0, 0, 0.15);
  background-color: #72b5f9;
  border-color: #194a7c;
  background-size: 200% 100%;
  background-image: -webkit-linear-gradient(right, #72b5f9 50%, #194a7c 50%);
  background-image: linear-gradient(to left, #72b5f9 50%, #194a7c 50%);
  -webkit-animation: ball-spin 1.5s linear infinite;
          animation: ball-spin 1.5s linear infinite; }

@-webkit-keyframes ball-scale-ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1; }

  60% {
    opacity: 0.7; }

  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.0; } }

@keyframes ball-scale-ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1; }

  60% {
    opacity: 0.7; }

  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.0; } }

.ball-scale-ripple span {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 2px solid orange;
  -webkit-animation: ball-scale-ripple 1s 0 infinite cubic-bezier(.21, .53, .56, .8);
          animation: ball-scale-ripple 1s 0 infinite cubic-bezier(.21, .53, .56, .8); }

@-webkit-keyframes ball-scale-ripple-multiple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1; }

  60% {
    opacity: 0.7; }

  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.0; } }

@keyframes ball-scale-ripple-multiple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1; }

  60% {
    opacity: 0.7; }

  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.0; } }

.ball-scale-ripple-multiple {
  position: relative; }
  .ball-scale-ripple-multiple > span:nth-child(0) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .ball-scale-ripple-multiple > span:nth-child(1) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .ball-scale-ripple-multiple > span:nth-child(2) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .ball-scale-ripple-multiple > span:nth-child(3) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; }
  .ball-scale-ripple-multiple span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid orange;
    -webkit-animation: ball-scale-ripple-multiple 1s 0 infinite cubic-bezier(.21, .53, .56, .8);
            animation: ball-scale-ripple-multiple 1s 0 infinite cubic-bezier(.21, .53, .56, .8); }

@-webkit-keyframes ball-beat {
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.75);
            transform: scale(0.75); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes ball-beat {
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.75);
            transform: scale(0.75); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

.ball-beat {
  width: 72px; }
  .ball-beat span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: cyan;
    border-radius: 100%;
    margin: 0 2px;
    -webkit-animation: ball-beat 0.7s 0 infinite linear;
            animation: ball-beat 0.7s 0 infinite linear; }
    .ball-beat span:nth-child(2n-1) {
      -webkit-animation-delay: 0.35s !important;
              animation-delay: 0.35s !important; }

@-webkit-keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

.ball-scale-multiple {
  position: relative; }
  .ball-scale-multiple > span:nth-child(2) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .ball-scale-multiple > span:nth-child(3) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; }
  .ball-scale-multiple span {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: blue;
    -webkit-animation: ball-scale-multiple 1s 0 linear infinite;
            animation: ball-scale-multiple 1s 0 linear infinite; }

@-webkit-keyframes ball-triangle-path-1 {
  33% {
    -webkit-transform: translate(25px, -50px);
            transform: translate(25px, -50px); }

  66% {
    -webkit-transform: translate(50px, 0px);
            transform: translate(50px, 0px); }

  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@keyframes ball-triangle-path-1 {
  33% {
    -webkit-transform: translate(25px, -50px);
            transform: translate(25px, -50px); }

  66% {
    -webkit-transform: translate(50px, 0px);
            transform: translate(50px, 0px); }

  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@-webkit-keyframes ball-triangle-path-2 {
  33% {
    -webkit-transform: translate(25px, 50px);
            transform: translate(25px, 50px); }

  66% {
    -webkit-transform: translate(-25px, 50px);
            transform: translate(-25px, 50px); }

  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@keyframes ball-triangle-path-2 {
  33% {
    -webkit-transform: translate(25px, 50px);
            transform: translate(25px, 50px); }

  66% {
    -webkit-transform: translate(-25px, 50px);
            transform: translate(-25px, 50px); }

  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@-webkit-keyframes ball-triangle-path-3 {
  33% {
    -webkit-transform: translate(-50px, 0px);
            transform: translate(-50px, 0px); }

  66% {
    -webkit-transform: translate(-25px, -50px);
            transform: translate(-25px, -50px); }

  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

@keyframes ball-triangle-path-3 {
  33% {
    -webkit-transform: translate(-50px, 0px);
            transform: translate(-50px, 0px); }

  66% {
    -webkit-transform: translate(-25px, -50px);
            transform: translate(-25px, -50px); }

  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); } }

.ball-triangle-path {
  position: relative; }
  .ball-triangle-path > span:nth-child(1) {
    -webkit-animation-name: "ball-triangle-path-1";
            animation-name: "ball-triangle-path-1";
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
  .ball-triangle-path > span:nth-child(2) {
    -webkit-animation-name: "ball-triangle-path-2";
            animation-name: "ball-triangle-path-2";
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
  .ball-triangle-path > span:nth-child(3) {
    -webkit-animation-name: "ball-triangle-path-3";
            animation-name: "ball-triangle-path-3";
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
  .ball-triangle-path span {
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid red; }
    .ball-triangle-path span:nth-of-type(1) {
      top: 50px; }
    .ball-triangle-path span:nth-of-type(2) {
      left: 25px; }
    .ball-triangle-path span:nth-of-type(3) {
      top: 50px;
      left: 50px; }

@-webkit-keyframes ball-pulse-rise-even {
  0% {
    opacity: 0.6;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

  25% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 1; }

  50% {
    opacity: 0.6;
    -webkit-transform: scale(0.4);
            transform: scale(0.4); }

  75% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 1; }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.6;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes ball-pulse-rise-even {
  0% {
    opacity: 0.6;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

  25% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 1; }

  50% {
    opacity: 0.6;
    -webkit-transform: scale(0.4);
            transform: scale(0.4); }

  75% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 1; }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.6;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes ball-pulse-rise-odd {
  0% {
    opacity: 0.6;
    -webkit-transform: scale(0.4);
            transform: scale(0.4); }

  25% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 1; }

  50% {
    opacity: 0.6;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

  75% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 1; }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.6;
    -webkit-transform: scale(0.75);
            transform: scale(0.75); } }

@keyframes ball-pulse-rise-odd {
  0% {
    opacity: 0.6;
    -webkit-transform: scale(0.4);
            transform: scale(0.4); }

  25% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 1; }

  50% {
    opacity: 0.6;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

  75% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 1; }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.6;
    -webkit-transform: scale(0.75);
            transform: scale(0.75); } }

.ball-pulse-rise span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 0 2px;
  background: green;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(.15, .46, .9, .6);
          animation-timing-function: cubic-bezier(.15, .46, .9, .6);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
          animation-delay: 0; }
  .ball-pulse-rise span:nth-child(2n) {
    -webkit-animation-name: ball-pulse-rise-even;
            animation-name: ball-pulse-rise-even; }
  .ball-pulse-rise span:nth-child(2n-1) {
    -webkit-animation-name: ball-pulse-rise-odd;
            animation-name: ball-pulse-rise-odd; }

@-webkit-keyframes ball-grid-beat {
  50% {
    opacity: 0.7; }

  100% {
    opacity: 1; } }

@keyframes ball-grid-beat {
  50% {
    opacity: 0.7; }

  100% {
    opacity: 1; } }

.ball-grid-beat {
  width: 72px; }
  .ball-grid-beat > span:nth-child(1) {
    -webkit-animation-delay: 0.06s;
            animation-delay: 0.06s;
    -webkit-animation-duration: 1.26s;
            animation-duration: 1.26s; }
  .ball-grid-beat > span:nth-child(2) {
    -webkit-animation-delay: 0.04s;
            animation-delay: 0.04s;
    -webkit-animation-duration: 1.13s;
            animation-duration: 1.13s; }
  .ball-grid-beat > span:nth-child(3) {
    -webkit-animation-delay: 0.55s;
            animation-delay: 0.55s;
    -webkit-animation-duration: 1.46s;
            animation-duration: 1.46s; }
  .ball-grid-beat > span:nth-child(4) {
    -webkit-animation-delay: 0.28s;
            animation-delay: 0.28s;
    -webkit-animation-duration: 0.83s;
            animation-duration: 0.83s; }
  .ball-grid-beat > span:nth-child(5) {
    -webkit-animation-delay: 0.72s;
            animation-delay: 0.72s;
    -webkit-animation-duration: 1.18s;
            animation-duration: 1.18s; }
  .ball-grid-beat > span:nth-child(6) {
    -webkit-animation-delay: 0.18s;
            animation-delay: 0.18s;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s; }
  .ball-grid-beat > span:nth-child(7) {
    -webkit-animation-delay: 0.69s;
            animation-delay: 0.69s;
    -webkit-animation-duration: 1.27s;
            animation-duration: 1.27s; }
  .ball-grid-beat > span:nth-child(8) {
    -webkit-animation-delay: 0.46s;
            animation-delay: 0.46s;
    -webkit-animation-duration: 1.6s;
            animation-duration: 1.6s; }
  .ball-grid-beat > span:nth-child(9) {
    -webkit-animation-delay: 0.64s;
            animation-delay: 0.64s;
    -webkit-animation-duration: 1.42s;
            animation-duration: 1.42s; }
  .ball-grid-beat span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: purple;
    border-radius: 100%;
    margin: 0 2px;
    -webkit-animation-name: ball-grid-beat;
            animation-name: ball-grid-beat;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
            animation-delay: 0; }

@-webkit-keyframes ball-grid-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }

  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 0.7; }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes ball-grid-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }

  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 0.7; }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

.ball-grid-pulse {
  width: 72px; }
  .ball-grid-pulse > span:nth-child(1) {
    -webkit-animation-delay: 0.06s;
            animation-delay: 0.06s;
    -webkit-animation-duration: 1.41s;
            animation-duration: 1.41s; }
  .ball-grid-pulse > span:nth-child(2) {
    -webkit-animation-delay: -0.01s;
            animation-delay: -0.01s;
    -webkit-animation-duration: 1.39s;
            animation-duration: 1.39s; }
  .ball-grid-pulse > span:nth-child(3) {
    -webkit-animation-delay: 0.04s;
            animation-delay: 0.04s;
    -webkit-animation-duration: 1.34s;
            animation-duration: 1.34s; }
  .ball-grid-pulse > span:nth-child(4) {
    -webkit-animation-delay: 0.22s;
            animation-delay: 0.22s;
    -webkit-animation-duration: 0.87s;
            animation-duration: 0.87s; }
  .ball-grid-pulse > span:nth-child(5) {
    -webkit-animation-delay: 0.48s;
            animation-delay: 0.48s;
    -webkit-animation-duration: 1.19s;
            animation-duration: 1.19s; }
  .ball-grid-pulse > span:nth-child(6) {
    -webkit-animation-delay: 0.63s;
            animation-delay: 0.63s;
    -webkit-animation-duration: 1.47s;
            animation-duration: 1.47s; }
  .ball-grid-pulse > span:nth-child(7) {
    -webkit-animation-delay: 0.62s;
            animation-delay: 0.62s;
    -webkit-animation-duration: 1.54s;
            animation-duration: 1.54s; }
  .ball-grid-pulse > span:nth-child(8) {
    -webkit-animation-delay: 0.33s;
            animation-delay: 0.33s;
    -webkit-animation-duration: 1.33s;
            animation-duration: 1.33s; }
  .ball-grid-pulse > span:nth-child(9) {
    -webkit-animation-delay: 0.64s;
            animation-delay: 0.64s;
    -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s; }
  .ball-grid-pulse span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: purple;
    border-radius: 100%;
    margin: 0 2px;
    -webkit-animation-name: ball-grid-pulse;
            animation-name: ball-grid-pulse;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
            animation-delay: 0; }

@-webkit-keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
            transform: scale(0.4); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
            transform: scale(0.4); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

.ball-spin-fade-loader {
  position: relative; }
  .ball-spin-fade-loader > span:nth-child(1) {
    top: 45px;
    left: 0;
    -webkit-animation: ball-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
            animation: ball-spin-fade-loader 1.2s 0.12s infinite ease-in-out; }
  .ball-spin-fade-loader > span:nth-child(2) {
    top: 30.68182px;
    left: 30.68182px;
    -webkit-animation: ball-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
            animation: ball-spin-fade-loader 1.2s 0.24s infinite ease-in-out; }
  .ball-spin-fade-loader > span:nth-child(3) {
    top: 0;
    left: 45px;
    -webkit-animation: ball-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
            animation: ball-spin-fade-loader 1.2s 0.36s infinite ease-in-out; }
  .ball-spin-fade-loader > span:nth-child(4) {
    top: -30.68182px;
    left: 30.68182px;
    -webkit-animation: ball-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
            animation: ball-spin-fade-loader 1.2s 0.48s infinite ease-in-out; }
  .ball-spin-fade-loader > span:nth-child(5) {
    top: -45px;
    left: 0;
    -webkit-animation: ball-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
            animation: ball-spin-fade-loader 1.2s 0.6s infinite ease-in-out; }
  .ball-spin-fade-loader > span:nth-child(6) {
    top: -30.68182px;
    left: -30.68182px;
    -webkit-animation: ball-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
            animation: ball-spin-fade-loader 1.2s 0.72s infinite ease-in-out; }
  .ball-spin-fade-loader > span:nth-child(7) {
    top: 0;
    left: -45px;
    -webkit-animation: ball-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
            animation: ball-spin-fade-loader 1.2s 0.84s infinite ease-in-out; }
  .ball-spin-fade-loader > span:nth-child(8) {
    top: 30.68182px;
    left: -30.68182px;
    -webkit-animation: ball-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
            animation: ball-spin-fade-loader 1.2s 0.96s infinite ease-in-out; }
  .ball-spin-fade-loader span {
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: green; }

@-webkit-keyframes ball-spin-loader {
  75% {
    opacity: 0.2; }

  100% {
    opacity: 1; } }

@keyframes ball-spin-loader {
  75% {
    opacity: 0.2; }

  100% {
    opacity: 1; } }

.ball-spin-loader {
  position: relative; }
  .ball-spin-loader > span:nth-child(1) {
    top: 45px;
    left: 0;
    -webkit-animation: ball-spin-loader 2s 0.9s infinite linear;
            animation: ball-spin-loader 2s 0.9s infinite linear; }
  .ball-spin-loader > span:nth-child(2) {
    top: 30.68182px;
    left: 30.68182px;
    -webkit-animation: ball-spin-loader 2s 1.8s infinite linear;
            animation: ball-spin-loader 2s 1.8s infinite linear; }
  .ball-spin-loader > span:nth-child(3) {
    top: 0;
    left: 45px;
    -webkit-animation: ball-spin-loader 2s 2.7s infinite linear;
            animation: ball-spin-loader 2s 2.7s infinite linear; }
  .ball-spin-loader > span:nth-child(4) {
    top: -30.68182px;
    left: 30.68182px;
    -webkit-animation: ball-spin-loader 2s 3.6s infinite linear;
            animation: ball-spin-loader 2s 3.6s infinite linear; }
  .ball-spin-loader > span:nth-child(5) {
    top: -45px;
    left: 0;
    -webkit-animation: ball-spin-loader 2s 4.5s infinite linear;
            animation: ball-spin-loader 2s 4.5s infinite linear; }
  .ball-spin-loader > span:nth-child(6) {
    top: -30.68182px;
    left: -30.68182px;
    -webkit-animation: ball-spin-loader 2s 5.4s infinite linear;
            animation: ball-spin-loader 2s 5.4s infinite linear; }
  .ball-spin-loader > span:nth-child(7) {
    top: 0;
    left: -45px;
    -webkit-animation: ball-spin-loader 2s 6.3s infinite linear;
            animation: ball-spin-loader 2s 6.3s infinite linear; }
  .ball-spin-loader > span:nth-child(8) {
    top: 30.68182px;
    left: -30.68182px;
    -webkit-animation: ball-spin-loader 2s 7.2s infinite linear;
            animation: ball-spin-loader 2s 7.2s infinite linear; }
  .ball-spin-loader span {
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: green; }

/**
 * Lines
 */
@-webkit-keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }

  50% {
    -webkit-transform: scaley(0.4);
            transform: scaley(0.4); }

  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }
@keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }

  50% {
    -webkit-transform: scaley(0.4);
            transform: scaley(0.4); }

  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }

.line-scale > span:nth-child(1) {
  -webkit-animation: line-scale 1s 0.1s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1s 0.1s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > span:nth-child(2) {
  -webkit-animation: line-scale 1s 0.2s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1s 0.2s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > span:nth-child(3) {
  -webkit-animation: line-scale 1s 0.3s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1s 0.3s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > span:nth-child(4) {
  -webkit-animation: line-scale 1s 0.4s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1s 0.4s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > span:nth-child(5) {
  -webkit-animation: line-scale 1s 0.5s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: line-scale 1s 0.5s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale span {
  display: inline-block;
  height: 35px;
  width: 7px;
  border-radius: 2px;
  margin: 0 2px;
  background: red;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes line-scale-party {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }

  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes line-scale-party {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }

  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.line-scale-party > span:nth-child(1) {
  -webkit-animation-delay: 0.69s;
          animation-delay: 0.69s;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s; }
.line-scale-party > span:nth-child(2) {
  -webkit-animation-delay: 0.63s;
          animation-delay: 0.63s;
  -webkit-animation-duration: 0.66s;
          animation-duration: 0.66s; }
.line-scale-party > span:nth-child(3) {
  -webkit-animation-delay: -0.17s;
          animation-delay: -0.17s;
  -webkit-animation-duration: 0.58s;
          animation-duration: 0.58s; }
.line-scale-party > span:nth-child(4) {
  -webkit-animation-delay: -0.01s;
          animation-delay: -0.01s;
  -webkit-animation-duration: 0.92s;
          animation-duration: 0.92s; }
.line-scale-party span {
  display: inline-block;
  width: 7px;
  height: 30px;
  background: purple;
  border-radius: 2px;
  margin: 0 2px;
  -webkit-animation-name: line-scale-party;
          animation-name: line-scale-party;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
          animation-delay: 0; }

@-webkit-keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }

  50% {
    -webkit-transform: scaley(0.4);
            transform: scaley(0.4); }

  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }

@keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }

  50% {
    -webkit-transform: scaley(0.4);
            transform: scaley(0.4); }

  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }

.line-scale-pulse-out span {
  display: inline-block;
  height: 35px;
  width: 7px;
  border-radius: 2px;
  margin: 0 2px;
  background: red;
  -webkit-animation: line-scale-pulse-out 0.9s 0 infinite cubic-bezier(.85, .25, .37, .85);
          animation: line-scale-pulse-out 0.9s 0 infinite cubic-bezier(.85, .25, .37, .85);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
  .line-scale-pulse-out span:nth-child(2), .line-scale-pulse-out span:nth-child(4) {
    -webkit-animation-delay: 0.2s !important;
            animation-delay: 0.2s !important; }
  .line-scale-pulse-out span:nth-child(1), .line-scale-pulse-out span:nth-child(5) {
    -webkit-animation-delay: 0.4s !important;
            animation-delay: 0.4s !important; }

@-webkit-keyframes line-scale-pulse-out-rapid {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }

  80% {
    -webkit-transform: scaley(0.3);
            transform: scaley(0.3); }

  90% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }

@keyframes line-scale-pulse-out-rapid {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }

  80% {
    -webkit-transform: scaley(0.3);
            transform: scaley(0.3); }

  90% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }

.line-scale-pulse-out-rapid span {
  display: inline-block;
  height: 40px;
  width: 5px;
  border-radius: 2px;
  margin: 0 2px;
  background: red;
  -webkit-animation: line-scale-pulse-out-rapid 0.9s 0 infinite cubic-bezier(.11, .49, .38, .78);
          animation: line-scale-pulse-out-rapid 0.9s 0 infinite cubic-bezier(.11, .49, .38, .78);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
  .line-scale-pulse-out-rapid span:nth-child(2), .line-scale-pulse-out-rapid span:nth-child(4) {
    -webkit-animation-delay: 0.25s !important;
            animation-delay: 0.25s !important; }
  .line-scale-pulse-out-rapid span:nth-child(1), .line-scale-pulse-out-rapid span:nth-child(5) {
    -webkit-animation-delay: 0.5s !important;
            animation-delay: 0.5s !important; }

@-webkit-keyframes line-spin-fade-loader {
  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

@keyframes line-spin-fade-loader {
  50% {
    opacity: 0.3; }

  100% {
    opacity: 1; } }

.line-spin-fade-loader {
  position: relative; }
  .line-spin-fade-loader > span:nth-child(1) {
    top: 20px;
    left: 0;
    -webkit-animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out; }
  .line-spin-fade-loader > span:nth-child(2) {
    top: 13.63636px;
    left: 13.63636px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out; }
  .line-spin-fade-loader > span:nth-child(3) {
    top: 0;
    left: 20px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out; }
  .line-spin-fade-loader > span:nth-child(4) {
    top: -13.63636px;
    left: 13.63636px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out; }
  .line-spin-fade-loader > span:nth-child(5) {
    top: -20px;
    left: 0;
    -webkit-animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out; }
  .line-spin-fade-loader > span:nth-child(6) {
    top: -13.63636px;
    left: -13.63636px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out; }
  .line-spin-fade-loader > span:nth-child(7) {
    top: 0;
    left: -20px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out; }
  .line-spin-fade-loader > span:nth-child(8) {
    top: 13.63636px;
    left: -13.63636px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out; }
  .line-spin-fade-loader span {
    position: absolute;
    display: inline-block;
    width: 5px;
    height: 15px;
    border-radius: 3px;
    background: green; }

/**
 * Misc
 */
@-webkit-keyframes ping-pong-paddle { }
@keyframes ping-pong-paddle { }

@-webkit-keyframes ping-pong-ball {
  0% {
    -webkit-transform: translate(-30px, 30px);
            transform: translate(-30px, 30px); }

  25% {
    -webkit-transform: translate(60px, 0px);
            transform: translate(60px, 0px); }

  50% {
    -webkit-transform: translate(-60px, -60px);
            transform: translate(-60px, -60px); }

  75% {
    -webkit-transform: translate(60px, 0px);
            transform: translate(60px, 0px); }

  100% {
    -webkit-transform: translate(-30px, 30px);
            transform: translate(-30px, 30px); } }

@keyframes ping-pong-ball {
  0% {
    -webkit-transform: translate(-30px, 30px);
            transform: translate(-30px, 30px); }

  25% {
    -webkit-transform: translate(60px, 0px);
            transform: translate(60px, 0px); }

  50% {
    -webkit-transform: translate(-60px, -60px);
            transform: translate(-60px, -60px); }

  75% {
    -webkit-transform: translate(60px, 0px);
            transform: translate(60px, 0px); }

  100% {
    -webkit-transform: translate(-30px, 30px);
            transform: translate(-30px, 30px); } }

.ping-pong {
  position: relative; }
  .ping-pong span {
    display: inline-block;
    height: 20px;
    width: 4px;
    border: 1px solid yellow; }
    .ping-pong span:nth-child(3) {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      border: 1px solid green;
      -webkit-animation: ping-pong-ball 5s 0 linear infinite;
              animation: ping-pong-ball 5s 0 linear infinite; }
