@import '../variables';
@import '../mixins';

@keyframes ball-scale-ripple {
  0% {
    opacity: 1;
    transform: scale(.1);
  }

  70% {
    opacity: .7;
    transform: scale(1);
  }

  100% {
    opacity: .0;
  }
}

.ball-scale-ripple {

  > div {
    @include global-animation();

    animation: ball-scale-ripple 1s 0s infinite cubic-bezier(.21, .53, .56, .8);
    border: 2px solid $primary-color;
    border-radius: 100%;
    height: 50px;
    width: 50px;
  }
}
