@import '../variables';
@import '../mixins';

$size: 50px;

@keyframes ball-scale-multiple {
  0% {
    transform: scale(0.0);
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

@mixin ball-scale-multiple ($n:3, $start:0) {
  @for $i from 2 through $n {
    > div:nth-child(#{$i}) {
      animation-delay: ($i * 0.2) + s;
    }
  }
}

.ball-scale-multiple {
  @include ball-scale-multiple();
  position: relative;

  > div {
    @include balls();

    position: absolute;
    left: 0;
    top: 0;
    width: $size;
    height: $size;
    animation: ball-scale-multiple 1s 0 linear infinite;
  }
}
