$primary-color: #2a5d84;
$amount: 50px;

@keyframes ball-zig-deflect {
  17% {
    transform: translate(-$amount/2, -$amount);
  }
  34% {
    transform: translate($amount/2, -$amount);
  }
  50% {
    transform: translate(0, 0);
  }
  67% {
    transform: translate($amount/2, -$amount);
  }
  84% {
    transform: translate(-$amount/2, -$amount);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes ball-zag-deflect {
  17% {
    transform: translate($amount/2, $amount);
  }
  34% {
    transform: translate(-$amount/2, $amount);
  }
  50% {
    transform: translate(0, 0);
  }
  67% {
    transform: translate(-$amount/2, $amount);
  }
  84% {
    transform: translate($amount/2, $amount);
  }
  100% {
    transform: translate(0, 0);
  }
}

.ball-zig-zag-deflect {
  position: relative;

  > span {
    position: absolute;
    background-color: $primary-color;
    height: 17px;
    width: 17px;
    display: inline-block;
    margin: 20px 5px;
    border-radius: 100%;
    animation-fill-mode: both;
    margin-left: $amount / 2;
    top: $amount;
    left: $amount;

    &:first-child {
      animation: ball-zig-deflect 1.5s 0 infinite linear;
    }

    &:last-child {
      animation: ball-zag-deflect 1.5s 0 infinite linear;
    }
  }
}

