@import '../variables';
@import '../mixins';

@include keyframes(rotate) {
  0% {
    @include transform(rotate(0deg));
  }
  50% {
    @include transform(rotate(180deg));
  }
  100% {
    @include transform(rotate(360deg));
 }
}

.ball-rotate {
  position: relative;

  > div {
    @include balls();
    @include global-animation();

    position: relative;

    &:first-child {
      @include css3-prefix("animation",  rotate 1s 0s cubic-bezier(.7,-.13,.22,.86) infinite);
    }

    &:before, &:after {
      @include balls();

      content: "";
      position: absolute;
      @include opacity(0.8);
    }

    &:before {
      top: 0;
      left: -28px;
    }

    &:after {
      top: 0;
      left: 25px;
    }
  }
}
