@import '../variables';
@import '../mixins';

@include keyframes(ball-scale) {
  0% {
    @include transform(scale(0.0));
  }
  100% {
    @include transform(scale(1.0));
    @include opacity(0);
  }
}

.ball-scale {

  > div {
    @include balls();
    @include global-animation();

    display: inline-block;
    height: 60px;
    width: 60px;
    @include css3-prefix("animation",  ball-scale 1s 0s ease-in-out infinite);
  }
}
