@import '../variables';
@import '../mixins';

@keyframes ball-scale {
  0% {
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.ball-scale {

  > div {
    @include balls();
    @include global-animation();

    animation: ball-scale 1s 0s ease-in-out infinite;
    display: inline-block;
    height: 60px;
    width: 60px;
  }
}
