@import '../variables';
@import '../mixins';

@keyframes rotate {
  0% {
    transform: rotate(0) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(.6);
  }

  100% {
    transform: rotate(360deg) scale(1);
 }

}

.ball-clip-rotate-multiple {
  position: relative;

  > div {
    @include global-animation();
    animation: rotate 1s 0s ease-in-out infinite;
    border: 2px solid $primary-color;
    border-bottom-color: transparent;
    border-radius: 100%;
    border-top-color: transparent;
    height: 35px;
    left: -20px;
    position: absolute;
    top: -20px;
    width: 35px;

    &:last-child {
      animation-direction: reverse;
      animation-duration: .5s;
      border-color: $primary-color transparent;
      display: inline-block;
      height: 15px;
      left: -10px;
      top: -10px;
      width: 15px;
    }
  }
}
