@keyframes ball-scale {
  0% {
    transform: scale(0.0);
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

.ball-scale {

  > div {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: blue;

    animation: ball-scale 1s 0 ease-in-out infinite;
  }
}
