@import '../variables';
@import '../mixins';

@include keyframes(rotate) {
  0% {
    @include transform(rotate(0deg) scale(1));
  }
  50% {
    @include transform(rotate(180deg) scale(0.6));
  }
  100% {
   @include transform(rotate(360deg) scale(1));
 }
}

.ball-clip-rotate-multiple {
  position: relative;

  > div {
    @include global-animation();

    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid $primary-color;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    @include css3-prefix("animation",  rotate 1s 0s ease-in-out infinite);

    &:last-child {
      display: inline-block;
      top: 10px;
      left: 10px;
      width: 15px;
      height: 15px;
      @include css3-prefix("animation-duration",  0.5s);
      border-color: $primary-color transparent $primary-color transparent;
      @include css3-prefix("animation-direction",  reverse);
    }
  }
}
