@import '../variables';
@import '../mixins';

@keyframes ball-pulse-round {
  0%, 80%, 100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

.ball-pulse-round {

  > div {
    @include global-animation();

    animation: ball-pulse-round 1.2s infinite ease-in-out;
    height: 10px;
    width: 10px;
  }
}

