@import 'ball-scale';

.ball-scale-random {
  height: 40px;
  width: 37px;

  > div {
    @include balls();
    @include global-animation();

    animation: ball-scale 1s 0s ease-in-out infinite;
    display: inline-block;
    height: 30px;
    position: absolute;
    width: 30px;

    &:nth-child(1) {
      animation: ball-scale 1s .2s ease-in-out infinite;
      margin-left: -7px;
    }

    &:nth-child(3) {
      animation: ball-scale 1s .5s ease-in-out infinite;
      margin-left: -2px;
      margin-top: 9px;
    }
  }
}
