$primary-color: #2a5d84;

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.6);
  }
  100% {
   transform: rotate(360deg) scale(1);
 }
}

.ball-clip-rotate-multiple {
  position: relative;

  > span {
    position: absolute;
    left: 75px;
    top: 75px;
    border: 2px solid $primary-color;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    display: inline-block;
    animation: rotate 1s 0 ease-in-out infinite;
    animation-fill-mode: both;

    &:last-child {
      display: inline-block;
      top: 80px;
      left: 80px;
      width: 15px;
      height: 15px;
      animation-duration: 0.5s;
      border-color: $primary-color transparent $primary-color transparent;
      animation-direction: reverse;
    }
  }
}
