@import '../variables';
@import '../mixins';

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
 }
}

.ball-rotate {
  position: relative;

  > div {
    @include balls();

    animation-fill-mode: both;

    &:first-child {
      animation: rotate 1s 0 cubic-bezier(.7,-0.13,.22,.86) infinite;
    }

    &:before, &:after {
      @include balls();

      content: "";
      position: absolute;
      opacity: 0.8;
    }

    &:before {
      top: 0px;
      left: -25px;
    }

    &:after {
      top: 0px;
      left: 25px;
    }
  }
}
