@keyframes ball-spin {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 44px 0;
  }
}

.ball-spin {
  span {
    display: inline-block;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    background-color: #72b5f9;
    border-color: #194a7c;
    background-size: 200% 100%;
    background-image: linear-gradient(to left, #72b5f9 50%, #194a7c 50%);
    animation: ball-spin 1.5s linear infinite;
    // todo
    // put shadow on top and bottom to try mimic 3d effect
  }
}
