@import '../variables';
@import '../mixins';

$amount: 30px;

@include keyframes(ball-zig) {
  33% {
    @include transform(translate(-$amount/2, -$amount));
  }
  66% {
    @include transform(translate($amount/2, -$amount));
  }
  100% {
    @include transform(translate(0, 0));
  }
}

@include keyframes(ball-zag) {
  33% {
    @include transform(translate($amount/2, $amount));
  }
  66% {
    @include transform(translate(-$amount/2, $amount));
  }
  100% {
    @include transform(translate(0, 0));
  }
}

.ball-zig-zag {
  position: relative;
  @include transform(translate(-$amount / 2, -$amount / 2));

  > div {
    @include balls();
    @include global-animation();

    position: absolute;
    margin-left: $amount / 2;
    top: $amount;
    left: $amount;

    &:first-child {
      @include css3-prefix("animation",  ball-zig 0.7s 0s infinite linear);
    }

    &:last-child {
      @include css3-prefix("animation",  ball-zag 0.7s 0s infinite linear);
    }
  }
}
