@import '../variables';
@import '../mixins';

@include keyframes(rotate) {
  0% {
    @include transform(rotate(0deg) scale(1));
  }
  50% {
    @include transform(rotate(180deg) scale(0.6));
  }
  100% {
   @include transform(rotate(360deg) scale(1));
 }
}

@include keyframes(scale) {
  30% {
    @include transform(scale(0.3));
  }
  100% {
    @include transform(scale(1));
  }
}

.ball-clip-rotate-pulse {
  position: relative;
  @include transform(translateY(-15px));

  > div {
    @include global-animation();

    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;

    &:first-child {
      background: $primary-color;
      height: 16px;
      width: 16px;
      top: 9px;
      left: 9px;
      @include css3-prefix("animation",  scale 1s 0s cubic-bezier(.09,.57,.49,.9) infinite);
    }

    &:last-child {
      position: absolute;
      border: 2px solid $primary-color;
      width: 30px;
      height: 30px;
      background: transparent;
      border: {
        size: 2px;
        style: solid;
        color: $primary-color transparent $primary-color transparent;
      };
      @include css3-prefix("animation",  rotate 1s 0s cubic-bezier(.09,.57,.49,.9) infinite);
      @include css3-prefix("animation-duration",  1s);
    }
  }
}
