@import '../variables';
@import '../mixins';

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(.6);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes scale {
  30% {
    transform: scale(.3);
  }

  100% {
    transform: scale(1);
  }
}

.ball-clip-rotate-pulse {
  position: relative;
  transform: translateY(-15px);

  > div {
    @include global-animation();
    border-radius: 100%;
    left: 0;
    position: absolute;
    top: 0;

    &:first-child {
      animation: scale 1s 0s cubic-bezier(.09, .57, .49, .9) infinite;
      background: $primary-color;
      height: 16px;
      left: -7px;
      top: 7px;
      width: 16px;
    }

    &:last-child {
      animation: rotate 1s 0s cubic-bezier(.09, .57, .49, .9) infinite;
      animation-duration: 1s;
      background: transparent;
      border: 2px solid $primary-color;
      height: 30px;
      left: -16px;
      position: absolute;
      top: -2px;
      width: 30px;
    }
  }
}
