@import '../variables';
@import '../mixins';

$radius: 45px;

@keyframes ball-spin-loader {
  75% {
    opacity: .2;
  }

  100% {
    opacity: 1;
  }
}

@mixin ball-spin-loader($n:8, $start:1) {
  @for $i from $start through $n {
    > span:nth-child(#{$i}) {
      $iter: 360 / $n;
      $quarter: ($radius / 2) + ($radius / 5.5);

      @if $i == 1 {
        left: 0;
        top: $radius;
      } @else if $i == 2 {
        left: $quarter;
        top: $quarter;
      } @else if $i == 3 {
        left: $radius;
        top: 0;
      } @else if $i == 4 {
        left: $quarter;
        top: -$quarter;
      } @else if $i == 5 {
        left: 0;
        top: -$radius;
      } @else if $i == 6 {
        left: -$quarter;
        top: -$quarter;
      } @else if $i == 7 {
        left: -$radius;
        top: 0;
      } @else if $i == 8 {
        left: -$quarter;
        top: $quarter;
      }

      animation: ball-spin-loader 2s ($i * .9s) infinite linear;
    }
  }
}

.ball-spin-loader {
  @include ball-spin-loader();
  position: relative;

  > div {
    @include global-animation();

    background: #008000;
    border-radius: 100%;
    height: 15px;
    position: absolute;
    width: 15px;
  }
}
