@import '../variables';
@import '../mixins';

@keyframes ball-beat {
  50% {
    opacity: .2;
    transform: scale(.75);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.ball-beat {

  > div {
    @include balls();
    @include global-animation();
    animation: ball-beat .7s 0s infinite linear;
    display: inline-block;

    &:nth-child(2n-1) {
      animation-delay: -.35s !important;
    }
  }
}
