$primary-color: #2a5d84;
$amount: 10px;

@keyframes ball-pulse-sync {
  33% {
    transform: translateY($amount);
  }
  66% {
    transform: translateY(-$amount);
  }
  100% {
    transform: translateY(0);
  }
}

@mixin ball-pulse-sync($n:3, $start:0) {
  @for $i from $start through $n {
    > span:nth-child(#{$i}) {
      animation: ball-pulse-sync 0.6s ($i * 0.07s) infinite ease-in-out;
    }
  }
}

.ball-pulse-sync {
  @include ball-pulse-sync();

  > span {
    background-color: $primary-color;
    height: 17px;
    width: 17px;
    border-radius: 100%;
    display: inline-block;
    margin: 20px 5px;
    animation-fill-mode: both;
  }
}
