@import '../variables';
@import '../mixins';

$rise-amount: 30px;

@keyframes ball-pulse-rise-even {
  0% {
    transform: scale(1.1);
  }

  25% {
    transform: translateY(-$rise-amount);
  }

  50% {
    transform: scale(.4);
  }

  75% {
    transform: translateY($rise-amount);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes ball-pulse-rise-odd {
  0% {
    transform: scale(.4);
  }

  25% {
    transform: translateY($rise-amount);
  }

  50% {
    transform: scale(1.1);
  }

  75% {
    transform: translateY(-$rise-amount);
  }

  100% {
    transform: scale(.75), translateY(0);
  }
}

.ball-pulse-rise {

  > div {
    @include balls();
    @include global-animation();
    animation-delay: 0;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.15, .46, .9, .6);
    display: inline-block;

    &:nth-child(2n) {
      animation-name: ball-pulse-rise-even;
    }

    &:nth-child(2n-1) {
      animation-name: ball-pulse-rise-odd;
    }
  }
}
