@import '../variables';
@import '../mixins';
@import '../functions';

$size: 50px;

@keyframes ball-scale-ripple-multiple {
  0% {
    opacity: 1;
    transform: scale(.1);
  }

  70% {
    opacity: .7;
    transform: scale(1);
  }

  100% {
    opacity: .0;
  }
}

@mixin ball-scale-ripple-multiple ($n:3, $start:0) {
  @for $i from $start through $n {
    > div:nth-child(#{$i}) {
      animation-delay: delay(.2s, $n, $i - 1);
    }
  }
}

.ball-scale-ripple-multiple {
  @include ball-scale-ripple-multiple();

  position: relative;
  transform: translateY(-$size / 2);

  > div {
    @include global-animation();

    animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
    border: 2px solid $primary-color;
    border-radius: 100%;
    height: $size;
    left: -26px;
    position: absolute;
    top: -2px;
    width: $size;
  }
}
