$initial-size: 20%;
$height: 12px;
$radius: 10px;

@keyframes bar-progress {
  0% {
    width: $initial-size;
    left: 0;
    opacity: 1;
  }
  25% {
    width: 50%;
    left: 30%;
    opacity: 0.7;
  }
  50% {
    width: $initial-size;
    left: 100%;
    opacity: 1;
  }
  75% {
    width: 50%;
    left: 30%;
    opacity: 0.7;
  }
  100% {
    width: $initial-size;
    left: 0;
    opacity: 1;
  }
}

.bar-progress {
  width: 30%;
  height: $height;

  > div {
    position: relative;
    width: $initial-size;
    height: $height;
    border-radius: $radius;
    background-color: #fff;
    animation: bar-progress 3s cubic-bezier(.57,.1,.44,.93) infinite;
    opacity: 1;
  }
}