$initial-size: 30%;
$height: 8px;
$radius: 10px;

@keyframes bar-swing {
  0% {
    left: 0;
  }
  50% {
    left: 100% - $initial-size;
  }
  100% {
    left: 0;
  }
}

.bar-swing {
  width: 30%;
  height: $height;

  > div {
    position: relative;
    width: $initial-size;
    height: $height;
    border-radius: $radius;
    background-color: #fff;
    animation: bar-swing 1.5s infinite;
  }
}