@import '../variables';
@import '../mixins';

$amount: 50px;
$size: 10px;

@include keyframes(cube-transition) {
  25% {
    @include transform(translateX($amount) scale(0.5) rotate(-90deg));
  }
  50% {
    @include transform(translate($amount, $amount) rotate(-180deg));
  }
  75% {
    @include transform(translateY($amount) scale(0.5) rotate(-270deg));
  }
  100% {
    @include transform(rotate(-360deg));
  }
}

.cube-transition {
  position: relative;
  @include transform(translate(-$amount / 2, -$amount / 2));

  > div {
    @include global-animation();

    width: $size;
    height: $size;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $primary-color;
    @include css3-prefix("animation",  cube-transition 1.6s 0s infinite ease-in-out);

    &:last-child {
      animation-delay: -0.8s
    }
  }
}
