@import '../variables';
@import '../mixins';

@keyframes line-scale-pulse-out-rapid {
  0% {
    transform: scaley(1);
  }

  80% {
    transform: scaley(.3);
  }

  90% {
    transform: scaley(1);
  }
}

.line-scale-pulse-out-rapid {

  > div {
    @include lines();
    @include global-animation();

    animation: line-scale-pulse-out-rapid .9s -.5s infinite cubic-bezier(.11, .49, .38, .78);
    display: inline-block;
    vertical-align: middle;

    &:nth-child(2),
    &:nth-child(4) {
      animation-delay: -.25s !important;
    }

    &:nth-child(1),
    &:nth-child(5) {
      animation-delay: 0s !important;
    }
  }
}
