@keyframes line-scale-pulse-out-rapid {
  0% {
    transform: scaley(1.0);
  }
  80% {
    transform: scaley(0.3);
  }
  90% {
    transform: scaley(1.0);
  }
}

.line-scale-pulse-out-rapid {

  > div {
    display: inline-block;
    height: 40px;
    width: 5px;
    border-radius: 2px;
    margin: 0 2px;
    background: red;
    animation: line-scale-pulse-out-rapid 0.9s 0 infinite cubic-bezier(.11,.49,.38,.78);
    animation-fill-mode: both;

    &:nth-child(2), &:nth-child(4) {
      animation-delay: 0.25s !important;
    }

    &:nth-child(1), &:nth-child(5) {
      animation-delay: 0.5s !important;
    }
  }
}
