@keyframes line-scale-pulse-out {
  0% {
    transform: scaley(1.0);
  }
  50% {
    transform: scaley(0.4);
  }
  100% {
    transform: scaley(1.0);
  }
}

.line-scale-pulse-out {

  span {
    display: inline-block;
    height: 35px;
    width: 7px;
    border-radius: 2px;
    margin: 0 2px;
    background: red;
    animation: line-scale-pulse-out 0.9s 0 infinite cubic-bezier(.85,.25,.37,.85);
    animation-fill-mode: both;

    &:nth-child(2), &:nth-child(4) {
      animation-delay: 0.2s !important;
    }

    &:nth-child(1), &:nth-child(5) {
      animation-delay: 0.4s !important;
    }

  }
}
