@import '../variables';
@import '../mixins';
@import '../functions';

@keyframes line-scale-pulse-out {
  0% {
    transform: scaley(1);
  }

  50% {
    transform: scaley(.4);
  }

  100% {
    transform: scaley(1);
  }
}

.line-scale-pulse-out {

  > div {
    @include lines();
    @include global-animation();

    animation: line-scale-pulse-out .9s delay(.2s, 3, 0) infinite cubic-bezier(.85, .25, .37, .85);
    display: inline-block;

    &:nth-child(2),
    &:nth-child(4) {
      animation-delay: delay(.2s, 3, 1) !important;
    }

    &:nth-child(1),
    &:nth-child(5) {
      animation-delay: delay(.2s, 3, 2) !important;
    }

  }
}
