@keyframes ping-pong-paddle {

}

@keyframes ping-pong-ball {
  0% {
    transform: translate(-30px, 30px);
  }
  25% {
    transform: translate(60px, 0px);
  }
  50% {
    transform: translate(-60px, -60px);
  }
  75% {
    transform: translate(60px, 0px);
  }
  100% {
    transform: translate(-30px, 30px);
  }
}

.ping-pong {
  position: relative;

  span {
    display: inline-block;
    height: 20px;
    width: 4px;
    border: 1px solid yellow;

    &:nth-child(3) {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      border: 1px solid green;
      animation: ping-pong-ball 5s 0 linear infinite;
    }
  }
}
