@import '../variables';
@import '../mixins';

$size: 35px;
$pos: 30%;

@keyframes spin-rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
 }
}

.semi-circle-spin {
  height: $size;
  overflow: hidden;
  position: relative;
  width: $size;

  > div {
    animation: spin-rotate .6s 0s infinite linear;
    background-image: linear-gradient(transparent 0%, transparent (100% - $pos), $primary-color $pos, $primary-color 100%);
    border-radius: 100%;
    border-width: 0;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}
