@import '../variables';
@import '../mixins';

$size: 35px;
$pos: 30%;

@include keyframes(spin-rotate) {
  0% {
    @include transform(rotate(0deg));
  }
  50% {
    @include transform(rotate(180deg));
  }
  100% {
    @include transform(rotate(360deg));
 }
}

.semi-circle-spin {
  position: relative;
  width: $size;
  height: $size;
  overflow: hidden;

  > div {
    position: absolute;
    border-width: 0;
    border-radius: 100%;
    @include css3-prefix("animation",  spin-rotate 0.6s 0s infinite linear);
    background-image: linear-gradient(transparent 0%, transparent (100% - $pos), $primary-color $pos, $primary-color 100%);
    width: 100%;
    height: 100%;
  }
}