@import '../variables';
@import '../mixins';

@include keyframes(square-spin) {
  25% {
    @include transform(perspective(100px) rotateX(180deg) rotateY(0deg));
  }
  50% {
    @include transform(perspective(100px) rotateX(180deg) rotateY(180deg));
  }
  75% {
    @include transform(perspective(100px) rotateX(0) rotateY(180deg));
  }
  100% {
    @include transform(perspective(100px) rotateX(0) rotateY(0));
  }
}

.square-spin {

  > div {
    @include global-animation();

    width: 50px;
    height: 50px;
    background: $primary-color;
    border: 1px solid red;
    @include css3-prefix("animation",  square-spin 3s 0s cubic-bezier(.09,.57,.49,.9) infinite);
  }
}
