@import '../variables';
@import '../mixins';

$size: 20px;

@include keyframes(triangle-skew-spin) {
  25% {
    @include transform(perspective(100px) rotateX(180deg) rotateY(0deg));
  }
  50% {
    @include transform(perspective(100px) rotateX(180deg) rotateY(180deg));
  }
  75% {
    @include transform(perspective(100px) rotateX(0deg) rotateY(180deg));
  }
  100% {
    @include transform(perspective(100px) rotateX(0deg) rotateY(0deg));
  }
}

.triangle-skew-spin {

  > div {
    @include global-animation();

    width: 0;
    height: 0;
    border: {
      left: $size solid transparent;
      right: $size solid transparent;
      bottom: $size solid $primary-color;
    };
    @include css3-prefix("animation",  triangle-skew-spin 3s 0s cubic-bezier(.09,.57,.49,.9) infinite);
  }
}
