/**
 *
 *
 */
$gray: #dcdcdc;

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 16px;
  background: #ed5565;
}

#container {
  width: 95%;
  max-width: 1000px;
  margin: 4em auto;

  #loaders {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;

    .loader {
      box-sizing: border-box;
      display: flex;
      flex: 0 1 auto;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 25%;
      max-width: 25%;
      height: 200px;
      align-items: center;
      justify-content: center;
    }
  }
}

