doctype html
head
  link(rel="stylesheet", type="text/css", href="demo.css")
  link(rel="stylesheet", type="text/css", href="../loaders.css")
body
  #container
    h1 Loaders.css
    h2 sub title with explanation

    #loaders
      .loader-row
        .loader.ball-pulse
          span
          span
          span

        .loader.shuffle
          span
          span
          span
          span

        .loader.shuffle-and-slide
          span
          span
          span
          span

      .loader-row
        .loader.shift
          div
          div
          div
          div

        .loader

        .loader
