@mixin global-bg() {
  background-color: $primary-color;
}

@mixin global-animation() {
  animation-fill-mode: both;
}

@mixin balls() {
  @include global-bg();
  border-radius: 100%;
  height: $ball-size;
  margin: $margin;
  width: $ball-size;
}

@mixin lines() {
  @include global-bg();
  border-radius: 2px;
  height: $line-height;
  margin: $margin;
  width: $line-width;
}
